body {
    background-color: hsl(222, 26%, 31%);
    color: hsl(0, 0%, 100%);
}
section {
    width: 30vw;
    height: 80vh;
    margin: auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}
#theme-number-toggle {
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
}
#theme-number-toggle p {
    margin-right: 14px;
    font-size: 14px;
    font-weight: 700;
}
#number {
    display: flex;
    align-items: center;
    margin-bottom: -10px;
    margin-left: 5px;
    font-weight: 700;
}
#toggle-container {
    width: 60px;
    height: 20px;
    background-color: hsl(223, 31%, 20%);
    border-radius: 20px;
}
.toggle-circle {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    position: relative;
    top: 2.5px;
    left: 2px;
    display: inline-flex;
    margin-left: 1px;
    cursor: pointer;
}
#red {
    background-color: hsl(6, 63%, 50%);
}
#screen {
    width: 89%;
    height: 100px;
    background-color: hsl(224, 36%, 15%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 15px;
    text-align: right;
    font-size: 40px;
    font-weight: 700;
    padding-top: 10px;
    display: inline-block;
    padding: 10px 20px 0px;
}
#keypad {
    width: 99%;
    height: 75%;
    background-color: hsl(223, 31%, 20%);
    border-radius: 15px;
    margin-top: 20px;
}
.keys {
    display: flex;
    align-items: center;
    margin: 5px 10px;
}
button {
    color: hsl(221, 14%, 31%);
    font-weight: 700;
    border-radius: 9px;
    margin-left: 20px;
    width: 70px;
    height: 50px;
    border: none;
    font-size: 30px;
    margin-top: 20px;
    box-shadow: 0px 3px hsl(28, 16%, 65%);
    cursor: pointer;
    background-color: hsl(30, 25%, 89%);
}
#delete,
#reset,
#equal {
    font-size: 22px;
    background-color: hsl(225, 21%, 49%);
    color: hsl(0, 0%, 100%);
    box-shadow: 0px 3px hsl(224, 28%, 35%);
}
#reset,
#equal {
    width: 160px;
    font-size: 18px;
}
#equal {
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0px 3px hsl(6, 70%, 34%);
}
@media (max-width: 499px) {
    section {
        width: 95vw;
    }
    button {
        margin-left: 4%;
        width: 70px;
        height: 70px;
    }
    #reset,
    #equal {
        width: 155px;
        margin-top: 15px;
    }
    #keypad {
        height: 500px;
    }
    #calc {
        font-size: 32px;
        margin-left: 10px;
    }
    #theme-number-toggle p {
        margin-right: 18px;
    }
    #toggle-container {
        width: 70px;
        height: 27px;
    }
    .toggle-circle {
        width: 18px;
        height: 18px;
        top: 4.5px;
        left: 3px;
    }
}
